#countdown {
  margin: 20px 0 10px 0;
  font-weight: 500;
}

.countdown-date {
  text-align: right;
  font-style: italic;
  font-size: 0.75rem;
}

.countdown-title {
  font-style: italic;
  font-size: 1.25rem;
  margin: 0;
}
