{% extends "base.html" %}

{% block seo %}
{{ super() }}

{% if config.title %}
  {% set title = config.title %}
{% else %}
  {% set title = "" %}
{% endif %}

{% if config.extra.title_addition and title %}
  {% set title_addition = title_separator~ config.extra.title_addition %}
{% elif config.extra.title_addition %}
  {% set title_addition = config.extra.title_addition %}
{% else %}
  {% set title_addition = "" %}
{% endif %}

{% set description = config.description %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <section class="section container-fluid mt-n3 pb-3">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h1 class="mt-0">
            {{ section.title }}
          </h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
          <p class="lead">
            {{ section.extra.lead | safe }}
          </p>
        </div>
      </div>

      {% if section.extra.deadline %}
      <section class="section section-sm">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8">
              <h2 class="countdown-title">{{ section.extra.deadline.title }}</h2>
              <h3
                id="countdown"
                class="h3"
                data-year="{{ section.extra.deadline.year }}"
                data-month="{{ section.extra.deadline.month }}"
                data-day="{{ section.extra.deadline.day }}"
              ></h3>
              <p class="countdown-date">
                until {{ section.extra.deadline.year }}/{{ section.extra.deadline.month }}/{{ section.extra.deadline.day }}
              </p>
            </div>
          </div>
        </div>
      </section>
      <hr />
      {% endif %}
    </section>
  </div>
</div>

<div class="posts">
  {% set news = get_section(path="news/_index.md") %}
  <section class="container-fluid pb-3">

    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        {% for page in news.pages %}
        <div class="post mt-4">
          <div class="card-item-name" itemprop="name">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            {{ macros_publish::page_publish_metadata(page=page) }}
          </div>
          {% if page.description %}
          <div class="card-item-desc" itemprop="description">
            <em>{{ page.description | safe }}</em>
          </div>
          <div class="clear"></div>
          {% endif %}
        </div>
        {% endfor -%}
      </div>
    </div>
  </section>

  </div>
</div>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      {% if section.extra.list %} {% for val in section.extra.list %}
      <div class="col-lg-5">
        <h2 class="h4">{{ val.title }}</h2>
        <p>{{ val.content | safe }}</p>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</section>

<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9"></div>
  </div>
</section>
{% endblock content %}
